body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(4, 30, 58);
    padding: 10px 20px;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.navbar-toggle-icon {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

.navbar-item a:hover {
    background-color: #262d5b;
    border-radius: 4px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
        margin-left: 20px; /* Espacio entre el toggle y el nombre de la marca */
    }
    .navbar-menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 1s ease-in-out, opacity 1s ease-in-out; /* Ajusta la duración aquí */
    }
    .navbar-menu.active {
        max-height: 300px; /* Ajusta este valor dependiendo del contenido */
        opacity: 1;
    }
    .navbar-item {
        margin: 10px 0;
    }
}
